---
layout: default
title: Study
permalink: /study/
hero:
  hero_title: Study
  hero_description: The University of Cambridge is one of the world's top five
    universities, and is home to a vibrant community of researchers and
    educators. The University provides a range of courses relating to AI, its
    use across disciplines, and its critical evaluation. Explore where you can
    find AI in our courses at the links below.
sections:
  - section_name: Undergraduate
    title: Undergraduate study
    description: The University offers 30 undergraduate courses covering more than
      65 subject areas, many of which include opportunities to engage with
      computer science and AI.
    table: >-
      | Course Name                            |
      Department                             | Link to
      Site                                                                                                                                                                                                   |

      | -------------------------------------- | -------------------------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |

      | Computer Science                       | Computer Science and Technology        | <a href="https://www.undergraduate.study.cam.ac.uk/courses/computer-science-ba-hons-meng">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a>                   |

      | Engineering                            | Engineering                            | <a href="https://www.undergraduate.study.cam.ac.uk/courses/engineering-ba-hons-meng">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a>                        |

      | Chemical Engineering and Biotechnology | Chemical Engineering and Biotechnology | <a href="https://www.undergraduate.study.cam.ac.uk/courses/chemical-engineering-biotechnology-ba-hons-meng">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | Natural Science                        | 16 departments across the University   | <a href="https://www.undergraduate.study.cam.ac.uk/courses/natural-sciences-ba-hons-msci">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a>                   |

      | Mathematics                            | Mathematics                            | <a href="https://www.undergraduate.study.cam.ac.uk/courses/mathematics-ba-hons-mmath">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a>                       |
  - section_name: Post Graduate
    title: Post Graduate study
    description: Post graduate content will be added here.
    table: >-
      | Course
      Name                                                                   |
      Department                                                                              |
      Link to
      Site                                                                                                                                                                      |

      | ----------------------------------------------------------------------------- | --------------------------------------------------------------------------------------- | --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |

      | MPhil in Advanced Chemical Engineering                                        | Chemical Engineering and Biotechnology                                                  | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/egcempace">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MPhil in Advanced Computer Science                                            | Computer Science and Technology                                                         | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/cscsmpacs">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MASt in Applied Mathematics                                                   | Applied Mathematics and Theoretical Physics                                             | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/maamasapm">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MPhil in Chemical Engineering and Biotechnology                               | Chemical Engineering and Biotechnology                                                  | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/egcempceb">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MPhil in Computational Biology                                                | Applied Mathematics and Theoretical Physics                                             | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/maammpcbi">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MPhil in Data Intensive Science                                               | Physics, the Institute of Astronomy, and Applied Mathematics and Theoretical Physics    | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/pcphmpdis">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MPhil in Digital Humanities                                                   | Cambridge Digital Humanities                                                            | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/elelmpdgh">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MPhil in Engineering                                                          | Engineering                                                                             | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/egegmpmeg">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MPhil in Engineering for Sustainable Development                              | Engineering                                                                             | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/egegmpesd">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MPhil in Ethics of AI, Data and Algorithms                                    | Centre for the Future of Intelligence                                                   | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/phphmpead">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MPhil in Machine Learning and Machine Intelligence                            | Engineering                                                                             | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/egegmpmsl">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MPhil in Mathematics                                                          | Mathematics                                                                             | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/maammpmpm">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MPhil in Scientific Computing                                                 | Physics, Materials and Metallurgy                                                       | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/pcphmpscm">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MRes + PhD in AI for the study of Environmental Risks                         | 17 hosting departments across the University                                            | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/eaespdaai">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | PhD in Applied Mathematics and Theoretical Physics                            | Applied Mathematics and Theoretical Physics                                             | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/maampdmtp">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | PhD in Automated Chemical Synthesis Enabled by Digital Molecular Technologies | Chemistry, Chemical Engineering, Engineering, Computer Sciences and Technology, Physics | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/pcchpdacs">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | CDT MPhil + PhD in Computational Methods for Materials Science                | Hosted by 7 departments across the University                                           | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/pcphpdcms">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | PhD in Computation, Cognition and Language                                    | Theoretical & Applied Linguistics                                                       | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/mmalpdccl">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | PhD in Computer Science                                                       | Computer Science and Technology                                                         | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/cscspdpcs">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | PhD in Mathematics of Information                                             | Mathematics                                                                             | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/mapmpdmal">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MSt in AI Ethics and Society                                                  | Centre for the Future of Intelligence                                                   | <a href="https://www.lcfi.ac.uk/education/mst">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a>                                 |

      | MPhil in Finance and Economics                                                | Economics                                                                               | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/ececmpmfe">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MPhil in Economics                                                            | Economics                                                                               | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/ececmpmec">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MASt in Mathematics (Mathematical Statistics)                                 | Faculty of Mathematics                                                                  | <a href="https://www.postgraduate.study.cam.ac.uk/courses/directory/mapmasmst">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |
  - section_name: Executive
    title: Executive study
    description: Executive content will be added here.
    table: >-
      | Course Name                                                        |
      Department                         | Link to
      Site                                                                                                                                                                                                                                                                                                                                                                                                  |

      | ------------------------------------------------------------------ | ---------------------------------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |

      | Chief Technology Officer Programme                                 | Judge Business School              | <a href="https://online.em.jbs.cam.ac.uk/chief-technology-officer-programme?utm_source=Linkedin&utm_medium=SC&utm_campaign=B-23090_UK_LI_SC_CJ-CTO_JUN_23_Function&utm_content=School_Photo_PNname_Pcontent_Duration_Online_and_InPerson_1200x628_Static_1&li_fat_id=f9717710-3632-4e97-922d-a592810c5418">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a> |

      | MSt Healthcare Data: Informatics, Innovation and Commercialization | Institute for Continuing Education | <a href="https://www.pace.cam.ac.uk/course-type/international-summer-programme/international-summer-programme-courses">View Course <img src="/assets/images/icons/arrow-right-up-black.svg" class="light-img" alt=""></a>                                                                                                                                                                                     |
---

<!-- Study Page -->
<section class="study-page">
    <div class="shapes">
        <div class="light-img">
            {% include icons/home-slider-shape-light.svg %}
        </div>
        <div class="dark-img">
            {% include icons/home-slider-shape-dark.svg %}
        </div>
    </div>
    <div class="container">
        <div class="main-title">
            {% if page.hero.hero_title %}<h1>{{ page.hero.hero_title }}</h1>{% else %}<h1>Study</h1>{% endif %}
            {% if page.hero.hero_description %}<p>{{ page.hero.hero_description }}</p>{% else %}<p>The University of Cambridge is one of the world's top five universities, and is home to a vibrant community of researchers and educators. The University provides a range of courses relating to AI, its use across disciplines, and its critical evaluation. Explore where you can find AI in our courses at the links below.</p>{% endif %}
        </div>
    </div>
 </section>
<!-- Study Page End -->

<!-- Study Page Content -->
 <section class="study-page-content">
    <div class="container">
        {% if page.sections and page.sections.size > 0 %}
        <ul class="list nav nav-tabs" role="tablist">
            {% for section in page.sections %}
            <li class="nav-item">
                <a class="nav-link {% if forloop.first %}active{% endif %}" data-bs-toggle="tab" href="#{{ section.section_name | slugify }}" role="tab" aria-controls="{{ section.section_name | slugify }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ section.section_name }}</a>
            </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for section in page.sections %}
            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ section.section_name | slugify }}" role="tabpanel" aria-labelledby="{{ section.section_name | slugify }}-tab">
                {% if section.title or section.description %}
                <div class="title">
                    {% if section.title %}<h2>{{ section.title }}</h2>{% endif %}
                    {% if section.description %}<p>{{ section.description }}</p>{% endif %}
                </div>
                {% endif %}

                {% if section.table %}
                <div class="table-responsive">
                    {% assign table_html = section.table | markdownify %}
                    {% assign table_with_class = table_html | replace: '<table>', '<table class="table">' %}
                    {{ table_with_class }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
 </section>
<!-- Study Page Content End -->
