footer {
    padding: 70px 0 50px 0;
    background-color: #06395F;
    position: relative;
    z-index: 5;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: url('../images/materials/footer-shape.png') no-repeat;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        pointer-events: none;
        opacity: .03;
    }

    .top-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 34px 0;
        border-bottom: 1px solid rgba($color: #fff, $alpha: .11);
        border-top: 1px solid rgba($color: #fff, $alpha: .11);

        @include max992 {
            flex-direction: column;
            justify-content: center;
        }

        .social-media {
            display: flex;
            align-items: center;

            @include max992 {
                margin-bottom: 24px;
            }

            li {
                margin-right: 8px;

                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 12px;
                    background-color: $second-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid transparent;
                    transition: all ease-in-out 200ms;

                    img {
                        transition: filter ease-in-out 200ms;
                    }

                    &:hover {
                        background-color: transparent;
                        border-color: $second-color;
                        transform: translateY(-1px);

                        img {
                            filter: brightness(0) invert(1);
                        }
                    }
                }
            }
        }

        .menu {
            display: flex;
            align-items: center;

            @include max992 {
                justify-content: center;
                flex-wrap: wrap;
            }

            li {
                margin-left: 24px;
                position: relative;

                @include max992 {
                    margin: 0 8px;
                    margin-bottom: 8px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: #fff;
                    width: 100%;
                    height: 1px;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform .5s;

                    @include max992 {
                        display: none;
                    }
                }

                &:hover {
                    &::before {
                        width: 100%;
                        transform-origin: left;
                        transform: scaleX(1);
                    }
                }

                a {
                    color: #fff;
                }
            }
        }
    }

    .middle-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 34px 0;
        border-bottom: 1px solid rgba($color: #fff, $alpha: .11);

        @include max992 {
            flex-direction: column;
            justify-content: center;
        }

        .logo {
            display: inline-block;

            @include max992 {
                margin-bottom: 24px;
            }

            img {
                height: 40px;
                object-fit: contain;
            }
        }

        .button {
            display: inline-flex;
            align-items: center;
            padding: 12px 16px;
            font-size: 16px;
            font-weight: 400;
            color: $second-color;
            border: 1px solid $second-color;
            border-radius: 12px;
            transition: all ease-in-out 200ms;

            .icon {
                width: 24px;
                height: 24px;
                margin-left: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $second-color;
                border-radius: 6px;
                transition: all ease-in-out 200ms;

                img {
                    height: 10px;
                    object-fit: contain;
                    transition: filter ease-in-out 200ms;
                }
            }

            &:hover {
                background-color: $second-color;
                color: #fff;

                .icon {
                    background-color: transparent;
                    border: 1px solid #fff;

                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }

    .bottom-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 34px 0 0 0;

        @include max992 {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        span {
            display: inline-block;
            font-size: 16px;
            font-weight: 700;
            color: #fff;

            @include max992 {
                margin-bottom: 8px;
            }
        }

        .subscribe {
            color: #fff;
            font-size: 16px;
            font-weight: 400;

            a {
                display: inline-flex;
                align-items: center;
                color: $second-color;

                .icon {
                    width: 24px;
                    height: 24px;
                    margin-left: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $second-color;
                    border-radius: 6px;

                    img {
                        height: 10px;
                        object-fit: contain;
                    }
                }
            }
        }
    }

    .designed {
        //margin-top: 34px;
        //padding-top: 34px;
        //border-top: 1px solid rgba($color: #fff, $alpha: .11);
        font-size: 16px;
        color: #fff;

        span {
            a {
                color: #fff;
                font-weight: 700;
            }
        }
    }
}