---
layout: default
---

<!-- Blog Single Page -->
<section class="blog-single-page">
    <div class="shapes-bottom shapes">
        <div class="light-img">
            {% include icons/home-news-shape-light.svg %}
        </div>
        <div class="dark-img">
            {% include icons/home-news-shape-dark.svg %}
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="top-actions">
                    <a href="{{ '/blog/' | relative_url }}" class="back">
                        <div class="icon">
                            <img src="{{ '/assets/images/icons/arrow-left-green.svg' | relative_url }}" alt="">
                        </div>

                        Back to Blog
                    </a>

                    <ul class="share">
                        <li>Share</li>
                        {% assign page_url = page.url | prepend: site.baseurl | prepend: site.url %}
                        {% assign page_title = page.title | url_encode %}
                        <li><a href="https://bsky.app/intent/compose?text={{ page_title }}%20{{ page_url }}" target="_blank" rel="noopener noreferrer"><img src="{{ '/assets/images/icons/fly.svg' | relative_url }}" alt="Share on Bluesky"></a></li>
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page_url }}" target="_blank" rel="noopener noreferrer"><img src="{{ '/assets/images/icons/facebook.svg' | relative_url }}" alt="Share on Facebook"></a></li>
                        <li><a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page_url }}" target="_blank" rel="noopener noreferrer"><img src="{{ '/assets/images/icons/linkedin.svg' | relative_url }}" alt="Share on LinkedIn"></a></li>
                        <li><a href="https://twitter.com/intent/tweet?url={{ page_url }}&text={{ page_title }}" target="_blank" rel="noopener noreferrer"><img src="{{ '/assets/images/icons/x.svg' | relative_url }}" alt="Share on Twitter/X"></a></li>
                    </ul>
                </div>

                <div class="content">
                    {% if page.date %}<span class="date">{{ page.date | date: "%-d %B %Y" }}</span>{% endif %}
                    {% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
                    {% if page.alternative_image and page.alternative_image != '' %}
                    <img src="{{ page.alternative_image | relative_url }}" alt="{{ page.title }}" class="main-img">
                    {% elsif page.cover_image %}
                    <img src="{{ page.cover_image | relative_url }}" alt="{{ page.title }}" class="main-img">
                    {% endif %}

                    {% if page.body %}
                    <div class="text">
                        {{ page.body | markdownify }}
                    </div>
                    {% elsif page.content %}
                    <div class="text">
                        {{ page.content | markdownify }}
                    </div>
                    {% endif %}

                    {% if page.information_title or page.information_content %}
                    <div class="further">
                        {% if page.information_title %}<h6>{{ page.information_title }}</h6>{% endif %}
                        {% if page.information_content %}
                        <div class="information-content">
                            {{ page.information_content | markdownify }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- Blog Single Page End -->