{%-assign title=include.entry.title-%}
{%-if include.entry.pdf or include.entry.cover_image-%}
{% assign pdf=include.entry.pdf | default: include.entry.cover_image -%}
{%-else-%}
{% assign pdf=false %}
{%-endif-%}
{%-if include.entry.url -%}
{%-capture url-%}
{{site.url}}{{site.baseurl}}{{include.entry.url}}
{%-endcapture-%}
{%-else-%}
{% assign url=false %}
{%-endif-%}
{%-if include.entry.authors-%}
  {% assign authors=include.entry.authors %}
{%-elsif include.entry.author-%}
  {% assign authors=include.entry.author %}
{%-else-%}
  {% assign authors=false %}
{%-endif-%}
{%-if include.entry.abstract-%}
  {% assign abstract=include.entry.abstract %}
{%-else-%}
  {% assign abstract=false %}
{%-endif-%}
{%-if include.entry.citation_fields.publisher-%}
  {% assign publisher=include.entry.citation_fields.publisher %}
{%-elsif site.data.options.citation_defaults.publisher-%}
  {% assign publisher=site.data.options.citation_defaults.publisher %}
{%-else-%}
  {% assign publisher="University of Cambridge" %}
{%-endif-%}
{%-if include.entry.citation_fields.container_title-%}
  {%-assign container-title=include.entry.citation_fields.container_title-%}
{%-else-%}
  {% assign container-title=false %}
{%-endif-%}
{%-if include.entry.citation_fields.volume-%}
  {% assign volume=include.entry.citation_fields.volume %}
{%-else-%}
  {% assign volume=false %}
{%-endif-%}
{%-if include.entry.citation_fields.issue-%}
  {% assign number=include.entry.citation_fields.issue %}
{%-else-%}
  {% assign number=false %}
{%-endif-%}
{%-if include.entry.citation_fields.pages-%}
  {% assign pages=include.entry.citation_fields.pages %}
  {%-assign page_parts=pages | split: "-"-%}
  {%-if page_parts.size == 2-%}
    {% assign firstpage=page_parts[0] %}
    {% assign lastpage=page_parts[1] %}
  {%-else-%}
    {% assign firstpage=pages %}
    {% assign lastpage=false %}
  {%-endif-%}
{%-else-%}
  {% assign firstpage=false %}
  {% assign lastpage=false %}
{%-endif-%}
{%-if include.entry.citation_fields.doi-%}
  {% assign doi=include.entry.citation_fields.doi -%}
{%-else-%}
  {% assign doi=false %}
{%-endif-%}
{%-if include.entry.citation_fields.citation_id-%}
  {% assign id=include.entry.citation_fields.citation_id | remove_first: '/' %}
{%-elsif include.entry.slug-%}
  {% assign id=include.entry.slug %}
{%-else-%}
  {% assign id=false %}
{%-endif-%}
{%-if include.entry.report_date-%}
  {% assign date=include.entry.report_date %}
{%-elsif include.entry.date-%}
  {% assign date=include.entry.date %}
{%-else-%}
  {% assign date=false %}
{%-endif-%}
{%-assign type="report"-%}

